In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')
connection

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute(''' 
    Create table If Not Exists Employees(
        Id Integer Primary Key,
        Name varchar Not Null,
        Age integer,
        Department text
    )
''')

In [8]:
connection.commit

In [9]:
cursor.execute(''' Insert Into Employees(Id, Name, Age, Department) Values
    (101, "Abhishek", 32, "Data Scientist")
''')

In [10]:
cursor.execute(''' Insert Into Employees(Id, Name, Age, Department) Values
    (102, "Ankita", 24, "Milu")
''')

In [14]:
connection.commit()

In [15]:
cursor.execute('Select * from Employees')
rows = cursor.fetchall()

In [16]:
for row in rows:
    print(row)

(101, 'Abhishek', 32, 'Data Scientist')
(102, 'Ankita', 24, 'Milu')

In [20]:
##Update the data in table

cursor.execute(''' Update Employees set age = 34 where name = 'Abhishek'
''')
connection.commit()

In [21]:
cursor.execute('Select * from Employees')
rows = cursor.fetchall()

In [22]:
for row in rows:
    print(row)

(101, 'Abhishek', 34, 'Data Scientist')
(102, 'Ankita', 24, 'Milu')

In [25]:
##Daleting a data from the table
cursor.execute('''
Delete from employees where name = "Ankita"
''')
connection.commit()

In [26]:
cursor.execute('Select * from Employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(101, 'Abhishek', 34, 'Data Scientist')

In [27]:
##Complete application with the dataset